.btn-danger{
	color: #fff;
    background-color: #4bb145;
    border-color: #4bb145;
}

.btn-danger:hover{
	color: #fff;
    background-color: #3f983a;
    border-color: #3f983a;	
}

.form-group {
    width: 100%;
    padding-bottom: 20px;
}

.form-inline .form-control{
	width: inherit;
}

.table-bordered td{
	width: 65%;
}
.thead-default tr th{
    font-size: 20px;

}
.card-header{
    padding-left:20px;
}
.card-block{
    padding: 15px 20px 15px 20px;
}